<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Engine.Settings.System" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Engine.Settings.SystemSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Engine.Settings.System>
            <setting name="Video_Resolution" serializeAs="String">
                <value>1920, 1080</value>
            </setting>
            <setting name="Video_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Video_Fullscreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Video_Monitor" serializeAs="String">
                <value />
            </setting>
            <setting name="Audio_Master" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Audio_Effects" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Audio_Music" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Audio_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Video_BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </Engine.Settings.System>
    </applicationSettings>
    <userSettings>
        <Engine.Settings.SystemSettings>
            <setting name="Video_Resolution" serializeAs="String">
                <value>1920, 1080</value>
            </setting>
            <setting name="Video_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Video_IsFullscreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Video_Monitor" serializeAs="String">
                <value />
            </setting>
            <setting name="Audio_MasterVolume" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Audio_EffectsVolume" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Audio_MusicVolume" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Audio_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Video_BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Video_IsBorderless" serializeAs="String">
                <value>True</value>
            </setting>
        </Engine.Settings.SystemSettings>
    </userSettings>
</configuration>